<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mobile.app.mapper.MobileForumMapper">
	<select id="getForumTypeList" parameterType="pd" resultType="pd">
		select dict_value forum_type, dict_label forum_type_name 
		  from sys_dict_data
		 where dict_type = 't_forum_type'
		   and status  = 0
	     order by dict_sort 
	</select>
	
	<select id="getForumList" parameterType="pd" resultType="pd">
		select 
		 a.id forum_id, a.forum_type, a.title, a.content, a.read_cnt, a.record_id, DATE_FORMAT(a.record_date,'%Y-%m-%d') record_date,
		 b.user_name,
		 b.avatar,
		 (select t.role_name from sys_role t where t.role_id = (select min(role_id) from sys_user_role c where c.user_id = b.user_id)) role_name,
		 (select count(1) from t_forum_reply t where a.id = t.forum_id) reply_cnt
		 from t_forum_info a, sys_user b
		where a.record_id = b.login_name
		<if test="forum_type != null and forum_type != ''">
			and a.forum_type = #{forum_type}
		</if>
		and b.login_name not in (select ignore_id from t_my_forum_ignore c where c.record_id = #{login_name})
		order by a.record_date desc
	</select>
	
	<select id="getForumInfo" parameterType="pd" resultType="pd">
		select 
		 a.id forum_id, a.forum_type, a.title, a.content, a.read_cnt,a.record_id, DATE_FORMAT(a.record_date,'%Y-%m-%d') record_date,
		 b.user_name,
		 b.avatar,
		 (select t.role_name from sys_role t where t.role_id = (select min(role_id) from sys_user_role c where c.user_id = b.user_id)) role_name,
		 (select count(1) from t_forum_reply t where a.id = t.forum_id) reply_cnt,
		 case when record_id = #{login_name} then 1 else 0 end flag_del
		 from t_forum_info a, sys_user b
		where a.record_id = b.login_name
		  and a.id = #{forum_id} 
	</select>
	
	<select id="getForumImgList" parameterType="pd" resultType="pd">
		select img_url from t_forum_img where forum_id = #{forum_id} order by id 
	</select>
	
	<select id="getForumReplyList" parameterType="pd" resultType="pd">
		select 
		 a.id reply_id, a.reply_content, DATE_FORMAT(a.record_date,'%Y-%m-%d') record_date,
		 b.user_name,
		 b.avatar,
		 (select t.role_name from sys_role t where t.role_id = (select min(role_id) from sys_user_role c where c.user_id = b.user_id)) role_name,
		 case when a.record_id = #{login_name} then 1 else 0 end flag_del
		 from t_forum_reply a, sys_user b
		where a.record_id = b.login_name
		  and a.forum_id = #{forum_id} 
		  order by a.record_date desc
	</select>
	
	<delete id="deleteReplyInfo" parameterType="pd">
		delete from t_forum_reply where id = #{reply_id}
	</delete>
	
	<insert id="insertReplyInfo" parameterType="pd">
		insert into t_forum_reply(forum_id, reply_content, record_id, record_date)
		   values(#{forum_id}, #{reply_content}, #{record_id}, sysdate())
	</insert>
	
	<select id="getCollectStatus" parameterType="pd" resultType="Integer">
		select case when count(1) = 0 then 0 else 1 end status from t_my_forum_collection
		 where forum_id = #{forum_id}
		   and record_id = #{record_id}
	</select>
	
	<delete id="delCollectForum" parameterType="pd">
		delete from t_my_forum_collection 
		 where forum_id = #{forum_id}
		   and record_id = #{record_id}
	</delete>
	
	<insert id="collectForum" parameterType="pd">
		insert into t_my_forum_collection(forum_id, record_id, record_date)
		  values(#{forum_id}, #{record_id}, sysdate())
	</insert>
	<insert id="insertForumContent" parameterType="pd" useGeneratedKeys="true" keyProperty="pdid">
		insert into t_forum_info
		  (forum_type, title, content, record_id, record_date)
		 values
		  (#{forum_type}, #{title}, #{content}, #{record_id}, sysdate())
	</insert>
	<insert id="insertForumImg" parameterType="pd">
		insert into t_forum_img
		  (forum_id, img_url)
		 values
		  (#{forum_id}, #{img_url})
	</insert>
	
	<update id="updateReadCnt" parameterType="pd">
		update t_forum_info set read_cnt = read_cnt + 1
		 where id = #{forum_id}
	</update>
	
	<select id="getRegByFormId" parameterType="pd" resultType="string">
		select b.registration_id registrationId  
			from t_forum_info a, sys_user b
		 where a.record_id = b.login_name
			 and a.id = #{forum_id}
	</select>
	<insert id="addIgnoreForum" parameterType="pd">
		insert into t_my_forum_ignore
			(ignore_id, record_id, record_date)
		values
			(#{ignore_id}, #{record_id}, sysdate())
	</insert>
	<insert id="addForumReport" parameterType="pd">
		insert into t_forum_report
			(forum_id, reply_id, forum_flag, report_type, record_id, record_date)
		values
			(#{forum_id}, #{reply_id}, #{forum_flag}, #{report_type}, #{record_id}, sysdate())
	</insert>
</mapper>