<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('资讯管理')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="info-form">
					<div class="select-list">
						<ul>
							<li>
								标题：<input type="text" name="title"/>
							</li>
							<li>
								<input type="hidden" name="class_id" id="class_id" th:value="${param.class_id}"/>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="infomanage:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="infomanage:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table" data-mobile-responsive="true"></table>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('infomanage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('infomanage:remove')}]];
        var datas = [[${@dict.getType('t_infomation_isrecommed')}]];
        var prefix = ctx + "infomanage";
        
        $(function() {
        	var options = {
            	showToggle:false,
            	showSearch:false,
            	uniqueId:'id',//批量删除指定ID
                url: prefix + "/getVideoList",
                createUrl: prefix + "/videoAdd",
                updateUrl: prefix + "/videoEdit/{id}",
                removeUrl: prefix + "/videoRemove",
                modalName: "",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'title_img_url',
                    title: '封面',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	return $.table.imageCommonView(value);
                    }
                },
                {
                    field: 'title',
                    title: '标题'
                },
                {
                    field: 'item_name',
                    align: 'center',
                    title: '类型'
                },
                {
                    field: 'record_date',
                    align: 'center',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>