<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.infomanage.mapper.InfoManageMapper">
	
	<select id="getInfoList" parameterType="pd" resultType="pd">
		select a.id, b.item_name, a.title, a.title_img_url, a.is_recommend, a.record_date
		  from t_information a left join t_information_item b 
		    on a.item_id = b.item_id
		 where a.status = 1
		   and (a.item_id is null or a.item_id != 14)
		 <if test="class_id != null and class_id != ''">
		 	and a.class_id = #{class_id}
		 </if>
		 <if test="item_id != null and item_id != ''">
		 	and a.item_id = #{item_id}
		 </if>
		 <if test="title != null and title != ''">
		 	and a.title like concat('%',#{title},'%')
		 </if>
		 <if test="is_recommend != null and is_recommend != ''">
		 	and a.is_recommend = #{is_recommend}
		 </if>
		 order by record_date desc
	</select>
	<select id="getItemListByClass" parameterType="pd" resultType="pd">
		select item_id, item_name, info_type
		  from t_information_item  
		 where class_id = #{class_id}
		   and is_show = 1
		 order by show_order
	</select>
	<insert id="addSave" parameterType="pd">
		insert into t_information
		   (class_id, 
		   item_id, 
		   status, 
		   title, 
		   source, 
		   detail, 
		   is_recommend, 
		   title_img_url,
		   record_id,
		   record_date)
		  values
		   (#{class_id}, 
		   #{item_id}, 
		   #{status}, 
		   #{title}, 
		   #{source}, 
		   #{detail}, 
		   #{is_recommend}, 
		   #{title_img_url},
		   #{record_id},
		   sysdate())
	</insert>
	
	<select id="getInfo" parameterType="pd" resultType="pd">
		select id,
			   class_id, 
			   item_id, 
			   title, 
			   source, 
			   detail, 
			   is_recommend, 
			   title_img_url
	      from t_information
	     where id = #{id}
	</select>
	
	<update id="editSave" parameterType="pd">
		update t_information
		   set item_id = #{item_id}, 
		   	   title = #{title}, 
		   	   source = #{source}, 
		   	   detail = #{detail}, 
		   	   is_recommend = #{is_recommend}, 
		   	   title_img_url = #{title_img_url},
		  	   record_id = #{record_id},
		   	   record_date = sysdate()
		 where id = #{id}
	</update>
	
	<update id="removeByIds" parameterType="string">
		update t_information set status = 0
		 where id in
		 <foreach item="id" collection="array" open="(" separator="," close=")">
		 	#{id}
		 </foreach>
	</update>
	
	<select id="getVideoList" parameterType="pd" resultType="pd">
		select a.id, b.item_name, a.title, a.title_img_url, a.is_recommend, a.record_date
		  from t_information a left join t_information_item b 
		    on a.item_id = b.item_id
		 where a.status = 1
		   and a.class_id = 5
		   and a.item_id = 14
		 <if test="title != null and title != ''">
		 	and a.title like concat('%',#{title},'%')
		 </if>
		 order by record_date desc
	</select>
	
	<insert id="videoAddSave" parameterType="pd">
		insert into t_information
		   (class_id, 
		   item_id, 
		   status, 
		   title, 
		   video_url, 
		   video_time,
		   detail,
		   title_img_url,
		   record_id,
		   record_date)
		  values
		   (#{class_id}, 
		   #{item_id}, 
		   #{status}, 
		   #{title}, 
		   #{video_url}, 
		   #{video_time}, 
		   #{detail},
		   #{title_img_url},
		   #{record_id},
		   sysdate())
	</insert>
	
	<select id="getVideoInfo" parameterType="pd" resultType="pd">
		select id,
			   class_id, 
			   item_id, 
			   title, 
			   video_url, 
			   detail,
			   video_time,
			   title_img_url
	      from t_information
	     where id = #{id}
	</select>
	
	<update id="videoEditSave" parameterType="pd" >
		update t_information
		   set title = #{title}, 
		   	   video_url = #{video_url}, 
		   	   video_time = #{video_time},
		   	   detail = #{detail},
		   	   title_img_url = #{title_img_url},
		  	   record_id = #{record_id},
		   	   record_date = sysdate()
		 where id = #{id}
	</update>
</mapper>